@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

@import url('https://fonts.cdnfonts.com/css/miami');
.banner-info span{
    font-family: 'Miami', sans-serif;  
    font-style: italic;  
    font-weight: 100;                                  
}

/* Default Styles */
*{
    margin: 0;
}

body{
    background-color: cornflowerblue;
}


/* Shared Styles */
.text-one{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;    
}

.text-two{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400; 
}

.button-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);   
    padding: 1rem 2.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.15rem;
    font-weight: 600;    
    cursor: pointer;
    max-width: 224px;
    height: 54px;
}

.hide{
    display: none;
}

/* Navbar */
.navbar{
    width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    color: rgb(230, 83, 60);
    font-size: 2.3rem;
    font-weight: 800;    
}

.nav-links-button{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 0.5rem 1.2rem;
}

.nav-links{
    display: flex;
    gap: 3rem;  
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 15px;
}

.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;    
}

.nav-item{
    list-style: none;    
}

.nav-menu{
    display: none;
}

/* Get body in shape & stay healthy */
.button-unique{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 1rem 2.5rem;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;    
    max-width: 224px;
    height: 54px;
    background-color: black;
}

.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info{
    width: 40%;
}

.banner-info h3{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 28px;
}

.banner-info p{
    margin-bottom: 28px;
}

.banner-image{
    position: relative;
}

.video-tutorial{
    position: absolute;
    max-width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    bottom: 12%;
    right: 70%;
}

.orange{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.video-tutorial h3{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}


.workout-tutorial{
    position: absolute;
    top: 18%;
    left: 60%;
    max-width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding-top: 1rem;
}

.workout-tutorial h3{
    color: rgb(250, 250, 249);
    font-size: 2.5rem;
    font-weight: 900;    
}

/* Change Your Habits */
.habits{
    width: 70%;
    margin: 6.25rem auto;
    text-align: center;
}

.habits-details{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

.habit img{
    border-radius: 50%;
}

.habit h5{
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;  
    margin-top: 1.5rem;  
}

.habit p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400; 
    max-width: 231px;
    margin: 0.5rem auto;
}

/* Run an Extra Mile Easily */
.run{
    width: 70%;
    margin: 0 auto;
    border-radius: 1.15rem;
    background: rgb(34, 34, 34);
    display: flex; 
    padding: 2rem; 
    justify-content: space-between;  
}

.run-container{
    max-width: 443px; 
    padding-left: 2rem;
}

.run-container h3{
    margin-bottom: 1rem;
}

.run-container button{
    margin-top: 1rem;
}

.run-image img{
    width: 366px;
    height: 312px; 
    border-radius: 18px;    
}


/* BMI Calculator */
.bmi-title{
    width: 50%;
    margin: 5rem auto;
}

.bmi-container{
    display: flex;
    gap: 175px;
    background: rgb(34, 34, 34);
    justify-content: center;
    padding: 3.7rem;
}

.bmi-container h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}

.bmi-info h3{
    margin-bottom: 2.5rem;
}

table{
    border-collapse: collapse;
    width: 310px;
    height: 216px;
}

td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 5px 10px;
}

th{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}

tr{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;    
}

.calculator p{
    max-width: 577px;
    margin: 1rem 0 2.3rem 0;
}

.calculator div{
    display: flex;
    margin-top: 0.8rem;
    gap: 0.8rem;
}

input, select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 282.5px;
    height: 48px; 
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}

::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;    
}

.select-two{
    width: 577px;
}

.calculator-button{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 1rem 2.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    width: 224px;
}

/* Meet Our Team */
.team{
    width: 70%;
    margin: 100px auto;
    text-align: center;
}

.all-trainer{
    position: relative;
}

.all-trainer img{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
}

.trainer{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: 80%;
    margin: 2rem auto;
}

.trainer-info{
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.trainer-name{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 900;
}

.row-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}



/* Footer */
footer{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 4.5rem 0;
}

.footer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-part1{
    max-width: 443px;
}

.footer-part1 h3{
    color: rgb(230, 83, 60);
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 1.3rem;
}

.footer-part2 h3{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;    
}

.footer-links{
    margin-left: -2.4rem;
}

.footer-item{
    list-style: none;
    margin-top: 1.3rem;
}

.footer-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
}

/* All right reserved @FitZone 2024 */
.copyright{
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
}

.copyright p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    font-weight: 400; 
    margin-top: 1.3rem;   
}


@media screen and (max-width:576px){

/* Navbar */
.nav-links{
    display: none;
}

.nav-menu{
    display: block;
    color: aliceblue;
    cursor: pointer;
}

/* Get body in shape & stay healthy */
.banner{
    flex-direction: column;
}

.banner-info{
    width: 100%;
}


.banner-info button{
    font-size: 12px;
}

/* Change Your Habits */
.habits-details{
    flex-direction: column;
}

.habit p{
    margin-bottom: 1rem;
}

/* Run an Extra Mile Easily */
.run{
    flex-direction: column;
}

.run-image{
    margin: 2rem auto;
}

.run-image img{
    width: 287px;
    height: 170px;
}

/* BMI Calculator */
.bmi-title{
    margin: 5rem 0;
    width: 80%;
}

.bmi-container{
    flex-direction: column;
    padding: 3rem 0;
    width: 100%;
    gap: 4rem;
}


.calculator{
    align-items: center;
}

input, select{
    width: 170.5px;
    height: 48px;   
}

.select-two{
    width: 353px;
}

/* Meet Our Team */
.trainer{
    background:none;
}

.row-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.row-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
 

/* Footer */
.footer{
    flex-direction: column;
    gap: 1rem;
}


}